<h2><%= @user.name %>'s Teacher Page</h2>

<h4>Courses</h4>
<ul class='course-list'>
  <% @courses.each do |course| %>
    <li class="row"><%= link_to course.name, {:action => :show, :controller => :courses, :id => course.id} %></li>
  <% end %>
</ul>