footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer thanks {
  float: left;
  margin-left: 5px;
}

footer me {
  float: right;
  margin-right: 5px;
}