<footer class="footer">
  <thanks>
    Invaluable help from:
    <ul>
      <li><a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl</li>
      <li><a href="http://guides.rubyonrails.org">The official Rails guide</a></li>
    </ul>
  </thanks>
  <me>
    <a href="http://www.linkedin.com/pub/kyle-turney/15/78b/b5b/">My Info</a>
  </me>
</footer>